*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ffcc00;
  --secondary: #31404b;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ffffff;
  --dark: #1e2024;

  --bg-white: #fff;
  --bg-dark: #1E2024;
  --bg-primary:#FFCC00;

  --text-body: #9a9da2;
  --text-secondary:  #31404B;
  --text-dark:#1E2024;
  --border-secondary: #31404b;

  --btn-secondary: #31404b;

  --font-family-sans-serif: "Montserrat", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #9A9DA2;
}

.btn-primary {
  color: var(--text-dark);
  background-color: var(--bg-primary);
  cursor: pointer;
  padding: 4px;
  height: 20px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #cca300;
  
}

.primary-hover:hover {
  color: #cca300;
}

a {
  cursor: pointer;
}


